* {
  margin: 0 auto;
  box-sizing: border-box;
  background-color: antiquewhite;
  color: maroon;
}

main {
  width: 90%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
}

#body {
  width: 100%;
  height: 80vh;
  display: flex;
}

#content {
  width: 65%;
  height: 100%;
  text-align: justify;
}

div::first-letter {
  font-size: 24px;
}

#articles {
  width: 35%;
  height: 100%;
}

#content,
#articles {
  margin: 10px;
}

article {
  text-align: justify;
  margin-bottom: 10px;
}

#footer {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
}
